@if(ks.hasResourceRole('entity-create')){
	<a routerLink="./create">Crear</a>
}
<!-- should'n the router hide the link if canActivate is false? -->

<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Description</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
	@for (item of entities; track item.Id) {
		<tr>
			<td>{{ item.Id }}</td>
			<td>{{ item.Name }}</td>
			<td>{{ item.Description }}</td>
			<td>
				@if(ks.hasResourceRole('entity-read')){<a routerLink="./{{ item.Id }}">Ver</a>}
				@if(ks.hasResourceRole('entity-update')){<a routerLink="./update/{{ item.Id }}">Actualizar</a>}
				@if(ks.hasResourceRole('entity-delete')){<a routerLink="." (click)="delete(item.Id)">Eliminar</a>}
			</td>
		</tr>
	} @empty {
		<tr>There are no items.</tr>
	}
	</tbody>
	<tfoot>
		@for (p of ' '.repeat(pages).split(''); track $index) {
			<button routerLink="." [queryParams]="{ page: $index }">{{ $index }}{{ typeof $index }}{{ $index === page }}</button>
		}
	</tfoot>
</table>