@if(ks.hasResourceRole('entity-create')){
	<a routerLink="./create">Crear</a>
}

<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Description</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
	@for (item of entities; track item.Id) {
		<tr>
			<td>{{ item.Id }}</td>
			<td>{{ item.Name }}</td>
			<td>{{ item.Description }}</td>
			<td>
				@if(ks.hasResourceRole('entity-read')){<a routerLink="./{{ item.Id }}">Ver</a>}
				@if(ks.hasResourceRole('entity-update')){<a routerLink="./edit/{{ item.Id }}">Actualizar</a>}
				@if(ks.hasResourceRole('entity-delete')){<a routerLink="." (click)="delete(item.Id)">Eliminar</a>}
			</td>
		</tr>
	} @empty {
		<tr>There are no items.</tr>
	}
	</tbody>
	<tfoot>
		<tr>pages 1-2... viendo {{ entities.length }} de {{ amount }}</tr>
	</tfoot>
</table>